* {
  margin: 0;
  font-family: "Open Sans mono";
}

body {
  background-size: contain;
  background: linear-gradient(
    320.84deg,
    #bc6f6f 20.07%,
    #b86688 52.27%,
    #303a8d 96.22%
  );
  width: auto;
  height: auto;
}

header {
  padding: 0% 5% 0.5% 5%;
  width: fit-content;
  height: fit-content;
  margin: 1% auto;
}
h1,
h2,h3 {
  color: white;
  text-align: center;
}
h1 {
  font-size: 42px;
  height: fit-content;
}
h1 + h2 {
  font-weight: 300;
  font-size: 22px;
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 14px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.shadow-elements {
  filter: drop-shadow(0px 1px 5px #000);
}

#dashboard {
  display: grid;
  grid-template-columns: 80% 19%;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  width: 97%;
  height: fit-content;
  padding: 0 1.5% 1.5% 1.5%;
}
#left-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 65%;
  grid-row-gap: 38px;
}
#pager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: fit-content;
}

#fiats-table {
  width: 100%;
  min-width: 270px;
  height: 98%;
  padding: 1%;
}
#coins-table {
  width: 100%;
  /*overflow-y: auto; si besoin permet d'afficher la scroll bar*/
}
table {
  width: 100%;
  padding: 0.2% 1%;
  border-collapse: separate;
  border-spacing: 0 6px;
}
.fiat-header{
  height: 2em;
  border-radius: 0.5em;
}
thead {
  border-radius: 1em;
  height: 4em;
  background-color: black;
}
th,
td {
  background-color: #fff;
  text-align: center;
}
table th:first-child {
  border-radius: 10px 0 0 10px;
  width: 6%;
}
table th:last-child {
  border-radius: 0 10px 10px 0;
}
/*table thead tr{
  position: sticky;
  top: 15px;
} pour la scrollbar si elle est activé*/

table td:first-child {
  border-radius: 10px 0 0 10px;
  width: 8%;
}
table td:last-child {
  border-radius: 0 10px 10px 0;
}
thead > tr {
  color: #fff;
  background-color: white;
  border-radius: 1em;
  border-collapse: collapse;
}
thead > tr > th {
  width: 10%;
  background-color: #2f3438;
}
tbody > tr > td {
  width: 10%;
}
thead {
  border-collapse: collapse;
}
table tbody > tr {
  height: 4em;
  padding-top: 0;
}

#liste-fiats > tr{
  height: 2em;

}
.pager-elements {
  width: 80%;
  min-width: 200px;
  height: 70px;
  background: #ffffff;
  border: none;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.pager-elements-active {
  width: 80%;
  height: 70px;
  background: #f1f1f1;
  border: none;
  border-radius: 15px;
}
.pager-elements:hover {
  background: #4e5596;
  color: #ffffff;
}

#page-viewer {
  width: 80%;
  height: 70px;
  min-width: 200px;
  background: linear-gradient(
    320.84deg,
    #bc6f6f 20.07%,
    #b86688 52.27%,
    #303a8d 96.22%
  );
  color: white;
  border: none;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}
#page-reset {
  font-size: 12px;
  cursor: pointer;
}
.variationPlus {
  color: green;
}

.variationMoins {
  color: red;
}
.variationZero {
  color: gray;
}
